@layer app {
  html {
    color: white;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    html {
      font-size: 20px;
    }
  }

  body {
    margin: 0;
    padding: 0;
  }

  a {
    color: #818cf8;
  }

  img,
  svg {
    object-fit: contain;
    max-width: 100% !important;
    max-height: 100vh !important;
  }

  @media (min-width: 832px) {

    section:has(p),
    body:has(>p),
    nav {
      max-width: 800px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  @media not (min-width: 832px) {

    section:has(p),
    body:has(>p),
    nav {
      padding: 0 8px;
    }
  }
}