@layer app {
  html {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  a {
    color: #818cf8;
  }

  img {
    object-fit: contain;
    max-width: 100% !important;
    max-height: 100vh !important;
  }

  @media (min-width: 832px) {

    section:has(p),
    nav {
      max-width: 800px;
      margin: auto;
    }
  }

  @media not (min-width: 832px) {

    section:has(p),
    nav {
      padding: 0 16px;
    }
  }
}